:root {
  --max-width: 1200px;
  --bg-main: #001730;
  --bg-dark: #0b0b20;
  --accent: #1BCFC9;
  --text-main: #EAF6F6;
  --text-muted: #aae7fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
}

/* CONTAINER */
.container{
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container p {
  margin-top: 1rem;
}

header{
  display: flex;
  position: fixed;
  z-index: 60;
  width: 100%;
}

.container-nav{
  max-width: 1000px;
  height: 55px;
  margin: 0 auto;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  background-color: #04295081;
  backdrop-filter: blur(1px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  margin-top: 15px;
}

nav.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem
}

.nav {
  list-style: none;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.nav a {
  display: block;
  padding: 0.6rem 0.9rem;
  border-radius: 8px;
  color: var(--accent);
  text-decoration: none;
  font-weight: 600;
}

.nav a:hover,
.nav a.active {
  background: linear-gradient(90deg, #00173081, var(--bg-main));
  background-color: var(--accent);
  color: #fff;
}

/* HERO */
.hero {
  min-height: 75vh;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, var(--bg-main), var(--bg-dark));
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-text p {
  color: var(--text-muted);
  line-height: 1.6;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.hero-image img {
  width: 420px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* SECTIONS */
.section {
  padding: 80px 0;
  display: flex;
  align-items: center;
}

.section.dark {
  background: var(--bg-dark);
}

.section h2 {
  font-size: 2.2rem;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

/* SOBRE */
.about-text {
  max-width: 700px;
  color: var(--text-muted);
  margin: 0 auto;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 30px auto 0;
  padding-top: 1rem;
  max-width: 700px;
}

.skills span {
  display: flex;
  padding: 8px 16px;
  text-align: center;
  justify-content: center;
  width: 120px;
  background: var(--accent);
  color: var(--bg-main);
  border-radius: 20px;
  font-size: 0.9rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.skills span:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background: var(--text-muted);
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background: var(--bg-main);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: var(--text-muted);
  margin-bottom: 15px;
}

.card span {
  color: var(--accent);
  font-size: 0.85rem;
  margin-bottom: 20px;
}

.card.premium {
  border: 1px solid var(--accent);
}

.escFourLayers {
  text-decoration: underline;
}

/* BOTÕES */
.btn {
  align-self: flex-end;
  padding: 12px 28px;
  background: var(--accent);
  color: var(--bg-main);
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn.small {
  padding: 10px 22px;
  font-size: 0.9rem;
}

.btn.outline {
  background: transparent;
  border: 2px solid var(--accent);
  color: var(--accent);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(27, 207, 201, 0.4);
}

/* CONTATO */
.contact {
  display: flex;
  justify-content: center;
}

.contact a {
  display: inline-block;
  margin-right: 20px;
  color: var(--accent);
  font-size: 1.1rem;
}

/* ANIMAÇÃO */
.reveal {
  opacity: 0;
  transform: translateY(40px);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s ease;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-image img {
    width: 280px;
  }

  .btn {
    align-self: center;
  }

  .reveal {
    align-items: center;
  }
}